body{
    background-color: azure;
    font-family: 'Courier New', Courier, monospace;
}

div{
    margin-left: auto;
    margin-right: auto;
}

div.title{
    width: 800px;
    margin-top: 200px;
    font-size: 24px;
    text-align: center;
}

div.caption{
    width: 1200px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

div.link{
    width: 1000px;
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    font-size: 28px;
    font-weight: bolder;
}

a{
    text-decoration: none;
    color: black;
}
a:hover{
    color: red;
    font-size: 150%;
}
a:hover span{
    display: none;
}
a.res:hover::before{
    content: "Kidding!"
}
a.cod:hover::before {
    content: "Bug!"
}
a.fun:hover::before {
    content: "Boring..."
}
a.pho:hover::before {
    content: "Ugly..."
}
a.con:hover::before {
    content: "...MIA..."
}

table{
    width: 100%;
}

th{
    width: 20%;
}