body{
    background-color: azure;
    font-family: 'Courier New', Courier, monospace;
}

div{
    margin-left: auto;
    margin-right: auto;
}

div.Qlogo{
    width: 60%;
    margin-top: 5%;
    text-align: center;
}

div.title{
    width: 80%;
    text-align: center;
}

div.caption{
    width: 85%;
    margin-top: 5%;
    font-weight: bold;
    text-align: center;
}

div.link{
    width: 70%;
    margin-top: 5%;
    font-weight: bolder;
}

img{
    width: 20%;
}

a{
    text-decoration: none;
    color: black;
}
a:hover{
    color: red;
    font-size: 150%;
}
a:hover span{
    display: none;
}
a.res:hover::before{
    content: "Kidding!"
}
a.cod:hover::before {
    content: "Bug!"
}
a.fun:hover::before {
    content: "Boring..."
}
a.pho:hover::before {
    content: "Ugly..."
}
a.con:hover::before {
    content: "...MIA..."
}

table{
    width: 100%;
}

th{
    width: 20%;
}