@keyframes typing {
    from { width: 100% }
    to { width: 0 }
    
}

div.container {
    position: relative;
    width: 70%;
}

.typing {
    position: absolute;
    top: 0;
    margin: 0;
    z-index: -1;
}

.hiders {
  margin: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.hiders p {
  position: relative; 
  clear: both; 
  margin: 0;
  float: right; /* makes animation go left-to-right */
  width:0; /* graceful degradation: if animation doesn't work, these are invisible by default */
  background: azure; /*same as page background */
  animation: typing 2s steps(30, end);
  animation-fill-mode: both;  /* load first keyframe on page load, leave on last frame at end */
}
  
.hiders p:nth-child(2) {
  animation-delay: 2s;
}
.hiders p:nth-child(3) {
  animation-delay: 4s;
}
.hiders p:nth-child(4) {
  animation-delay: 6s;
}
.hiders p:nth-child(5) {
  animation-delay: 8s;
}
body{
    background-color: azure;
    font-family: 'Courier New', Courier, monospace;
    position: relative;
}

div{
    margin-left: auto;
    margin-right: auto;
}

div.Qlogo{
    width: 60%;
    margin-top: 5%;
    text-align: center;
}

div.title{
    width: 80%;
    text-align: center;
}
div.title h1{
    font-size: 5vw;
}

.caption{
    position: relative;
    width: 80%;
    margin-top: 5%;
    font-weight: bold;
    text-align: center;
}

div.link{
    position: fixed;
    width: 75%;
    margin-top: 5%;
    font-weight: bolder;
}

img{
    width: 20%;
}

a{
    text-decoration: none;
    color: black;
}
a:hover{
    color: red;
    font-size: 150%;
}
a:hover span{
    display: none;
}
a.res:hover::before{
    content: "Kidding!"
}
a.cod:hover::before {
    content: "Bug!"
}
a.fun:hover::before {
    content: "Boring..."
}
a.pho:hover::before {
    content: "Ugly..."
}
a.con:hover::before {
    content: "...MIA..."
}

table{
    width: 100%;
}

th{
    width: 20%;
}