body{
    background-color: azure;
    
}

div.title{
    width: 800px;
    margin-top: 200px;
    margin-right: auto;
    margin-left: auto;
    font-family: 'Courier New', Courier, monospace;
    font-size: 24px;
    text-align: center;
}

div.caption{
    width: 1200px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}