body {
    background-color: azure;
    font-family: 'Courier New', Courier, monospace;
}

div {
    margin-right: auto;
    margin-left: auto;
}
div.Qlogo {
    width: 5%;
    margin-top: 2%;
    text-align: center;
}
div.title {
    width: 60%;
    margin-top: 1%;    
    font-size: 18px;
    text-align: center;
}
div.caption {
    width: 90%;
    margin-top: 3%;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}
div.nav {
    width: 80%;
    font-size: 20px;
    text-decoration: none;
    text-align: center;
}
div.res_content {
    width: 80%;
}
div.photo {
    width: 90%;
    margin-top: 2%;
}
div.video {
    width: 80%;
    margin-top: 2%;
}
div.logos {
    width: 20%;
    margin-top: 2%;
}
a.pub_item_link {
    color: inherit;
    text-decoration: none;
    font-style: italic;
    font-weight: bold
}
a.pub_item_link:hover{
    color: blue
}
a.button{
    background-color: rgb(78, 128, 126);
    text-align: center;
    text-decoration: none;
    color: white;
    padding: 2px 5px;
    border-radius: 10px

}

img {
    width: 80%;
}

table {
    width: 100%;
}

th {
    width: 25%;
}

td {
    width: 25%;
    text-align: center;
}